.header {
    min-height: 600px;
    max-height: 756px;
    display: flex;
    align-content: center;
}
.header__logo {
    top: 30px;
    left: 64px;
    width: 228px;
    height: 32px;
    z-index: 2;
    background-image: url("/sprint-1__startkit/images/logo_place_header.svg");
}
