@import url("../../../blocks/rotation/rotation.css");
.header__square-pic {
    position: absolute;
    top: 64px;
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    right: 0;
    animation: rotation 20s infinite;
  }