.page {
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__square-pic {
  height: 568px;
  width: 568px;
}
.header__logo {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
  z-index: 2;
  background-image: url("../images/logo_place_header.svg");
}
.header__title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}
.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
}
.header__square-pic {
  position: absolute;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  right: 0px;
}
.header__main-illustration {
  background-image: url("../images/two_again.png");
  position: absolute;
  right: 0px;
  top: 150px;
  z-index: 3;
  height: 765px;
  width: 608px;
  background-size: contain;
  background-repeat: no-repeat;
}
.description {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.header__link {
  text-decoration: none;
}
.fat-middle-paragraph {
  padding-top: 30px;
  padding-bottom: 30px;
}
.two-columns__brief {
  width: 175px;
  font-weight: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #3382ed;
}
.two-columns__paragraph {
  font-weight: 24px;
  line-height: 34px;
  font-weight: normal;
}
.digits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section-title {
  width: 60%;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}
.section-subtitle {
  width: 60%;
  margin-bottom: 60px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.table {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  flex-wrap: wrap;
  width: 1100px;
}
.table__cell {
  width: 250px;
  padding-bottom: 60px;
}
.table__text {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}
.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}
.feynman {
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  height: 637px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  /*display: flex;
  flex-wrap: wrap;
  justify-content: center ;*/
}
.feynman__title {
  width: 100%;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  width: 100%;
  text-align: center;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}
.kaufman {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}
.table_theme_dark {
  z-index: 1;
}
.section-subtitle_theme_dark {
  color: white;
}
.section-title_theme_dark {
  color: white;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.kaufman__traingle {
  background-image: url("../images/kaufman-triangle.svg");
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0px;
}
.footer {
  display: flex;
  justify-content: center;
  margin-top: 1px;
  background-color: #1f1f1f;
  color: white;
}
.columns {
  display: flex;
  justify-content: space-between;
  min-height: 350px;
  width: 90%;
  margin-top: 60px;
}
.column_content-copyright {
  flex-basis: 711px;
}
.logo {
  background-image: url("../images/logo_place_footer.svg");
  width: 228px;
  height: 32px;
  background-size: contain;
}
.footer__author {
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-link {
  display: flex;
  flex-wrap: wrap;
  width: 130px;
}
.column-links {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__link-class {
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__social-icon {
  display: inline;
  padding-right: 10px;
}
.column_content_copyright {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  height: 350px;
}
