.section-subtitle {
    padding: 0px;
    margin: 0px;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    padding-inline: 0;
    margin-block-start: 0;
  }